<% if song.favorited_by?(current_user) %>
	<%= link_to song_favorites_path(song), method: :delete, remote: true do %>
		<span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;" style="font-size: 15px"></span>
		<%= song.favorites.count %>
	<% end %>
<% else %>
	<%= link_to song_favorites_path(song), method: :post, remote: true do %>
		<span class="glyphicon glyphicon-heart" aria-hidden="true" style="font-size: 15px"></span>
		<%= song.favorites.count %>
	<% end %>
<% end %>

<!--, remote: true-->