/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap"; 


body {
    font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN','メイリオ', Meiryo;
}


.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}  

.row {
    padding-bottom: 50px;
}        


// 見出し

h2 {
    font-size: 25px;
    margin-bottom: 20px;
}


// ヘッダー

.navbar {
    height: 100px;
}

li {
	list-style: none;
	float: left;
}

.nav-item {
    padding-right: 25px;
    font-size: 17px;
    line-height: 100px;
}


// 背景 

.body {
    background-image: image-url("notes-leaf.png");
    background-size: cover;
    background-position: center;
}

.mask {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}


// フッター

footer {
    height: 100px;
    width: 100%;
}

.copyright {
    font-size: 20px;
    line-height: 150px;
    padding-left: 1600px;
}








