/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// @import "bootstrap-sprockets";
// @import "bootstrap"; 

* {
    margin: 0;
    padding: 0; 
}

.clearfix::after {
   content: "";
   display: block;
   clear: both;
}

.guide-top {
    padding-top: 50px;
}

.guide {
    padding-top: 10px;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}  

.row {
    padding-bottom: 50px;
}        

.page-title {
    padding-top: 50px;
}

//  アバウトページ

.about {
    margin-top: 40px;
}

.about-title {
    padding-bottom: 10px;
}




// 見出し

h2 {
    font-size: 25px;
    margin-bottom: 20px;
}


// ヘッダー

.navbar {
    height: 100px;
    margin-bottom: 40px;
}

li {
	list-style: none;
	float: left;
}

.nav-item {
    padding-right: 25px;
    font-size: 17px;
    line-height: 100px;
}


// 背景 フォント

.body {
    background-image: image-url("notes-leaf.png");
    background-size: cover;
    background-position: center;
    font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN','メイリオ', Meiryo;
    min-height: 1000px;
}

.mask {
    min-height: 1500px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
}


// フッター

footer {
    height: 100px;
    width: 100%;
}

.copyright {
    font-size: 20px;
    line-height: 150px;
    padding-left: 1600px;
}



//  新規会員登録　ログイン

.sign-up, .sign-in {
    padding-bottom: 30px;
}

.field {
    margin: 15px;
}

.sign-up-path, .sign-in-path {
    padding: 20px;
}

.background {
    margin-top: 50px;
    background-color: white;
}


//  新規登録

.signup-box {
    padding-top: 50px;
    height: 600px;
    border: 2px solid;
    background-image: image-url("notes-blue.png");
    background-size: cover;
    background-position: center;
}

.masking {
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
}



//  ログイン



.login-box {
    padding-top: 50px;
    height: 500px;
    border: 2px solid;
    background-image: image-url("notes-rainbow.jpg");
    background-size: cover;
    background-position: center;
}









