// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-list {
	margin-bottom: 25px;
}

.user-name {
	padding-left: 27px;
}

//　サイドバー

.user-image {
	border-radius: 50%;
	object-fit: cover;
}

.follow-box {
	margin: 20px;
}

.current-user-name {
	display: inline;
	padding-left: 10px;
}

.follow {
	display: inline;
	padding-left: 20px;
}